
  

  .My-img{
    width: 25vw;
     height: 25vw;
     margin-left: 80px;
     border-radius: 20px;
  }

  @media (max-width: 450px) {
    .My-img{
      height:70vw;
      width: 70vw;
      margin-left: 12%;
    }
    
  }